[Unit]
Description=Minecraft
Requires=network-online.target
After=network-online.target

[Service]
User=minecraft
Group=minecraft
WorkingDirectory=/opt/minecraft-server-butler/server
ExecStartPre=/opt/minecraft-server-butler/scripts/prepare.py
ExecStart=/opt/minecraft-server-butler/scripts/start.py
ExecStop=/opt/minecraft-server-butler/scripts/stop.py
TimeoutSec=900

[Install]
WantedBy=multi-user.target
